$fontRegular: "Lato-Regular", sans-serif;
$fontLight: "Lato-Light", sans-serif;
$fontBlack: "Lato-Black", sans-serif;
$fontBold: "Lora-Bold", sans-serif;
$fontSemiBold: "Lato-Semibold", sans-serif;
$colorPrimary: #0f141a;
$colorSecondary: #f40f46;
$colorWhite: #ffffff;
